// Change colors
// by: Nahla Galal
a {
  color: $main-color;

  &:visited {
    color: $red-alpha;
  }
  &:hover,
  &:focus,
  &:active {
    color: $red-alpha;
  }
  &:focus {
    outline: thin dotted;
  }
  &:hover,
  &:active {
    outline: 0;
  }
}